{# @var plugin \vardumper\promptdb\PromptDb #}
{# @var settings \vardumper\promptdb\models\Settings #}
{% import '_includes/forms.twig' as forms %}

	<form
	id="prompt-db-form"
	method="post"
	action=""
	accept-charset="UTF-8">

	{{ csrfInput() }}

	<input
		type="hidden"
		name="action"
		value="prompt-db/execute">

	{{ forms.textareaField({label: 'Your prompt', id: 'prompt-db-prompt', name: 'prompt'}) }}

	<div
		class="flex">
		<div
			class="flex-grow">
			{{ forms.submitButton({label:'Send', id: 'prompt-db-submit'}) }}
			<div
				id="prompt-db-spinner"
				class="spinner hidden"></div>

		</div>
		<div
			class="flex-grow right rightalign">

			<span
				class="btngroup right ">

				<a
					href=""
					id="prompt-db-submit-and-save"
					class="btn right">
					Example #1
				</a>
				<a
					id="prompt-db-submit-and-save"
					class="btn right">
					Example #2

				</a>
				<a
					id="prompt-db-submit-and-save"
					class="btn right">
					Example #3

				</a>
			</span>
		</div>
	</div>

	<div
		id="prompt-db-result"></div>
	<div
		id="prompt-db-generated-query">
		<pre></pre>
	</div>
	<div
		id="prompt-db-result"></div>
</form>
