#prompt-db-generated-query {
    margin:2rem 0;
    padding:2rem 0;
}

pre,
code,
samp,
kbd {
  border-radius: var(--border-radius);
  background: var(--code-background-color);
  color: var(--code-color);
  font-weight: var(--font-weight);
  line-height: initial;
  font-family: "Source Code Pro", Menlo, Consolas !important;
  font-weight: 400 !important;
  /* font-size: .85em !important; **/
}

code,
kbd,
samp {
  display: inline-block;
  padding: 0.375rem 0.5rem;
}

pre {
  display: block;
  margin-bottom: var(--spacing);
  overflow-x: auto;
}
pre>code {
    display: block;
    padding: var(--spacing);
    font-size: 14px;
    background: none;
    line-height: var(--line-height);
}